.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), var(--black) 100%);
    padding: 2rem 4rem 0 4rem;
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 14%;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 35%;
}
.action {
    width: 14%;
    display: flex;
    justify-content: space-between;
}

.search-button {
    color: var(--white);
    background: var(--black);
    font-size: 1.6rem;
    padding: 0 0.8rem;
}
