.register-form {
    width: 100%;
    max-width: 32%;
    padding: 2.4rem;
    border: 1px solid var(--gray);
    border-radius: 1.6rem;
    background: var(--form-bg-color);
    color: var(--white);

    p {
        margin: 0;
        font-size: 1.2rem;
        color: var(--text-color);
    }
}

.close-btn {
    color: var(--white) !important;
    font-size: 1.6rem;
    height: 100%;
    // padding: 0 2.4rem;
    border-color: var(--gray);
}

.register-btn {
    width: 100%;
    margin-top: 1.6rem;
}

.login-btn {
    color: var(--white) !important;
    margin-left: 0.8rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 1.6rem;
    gap: 0.8rem;

    label {
        font-size: 1.6rem;
        color: var(--white);
        font-weight: 700;
    }
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.form-footer {
    margin-top: 1.6rem;
}
