@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary: #00935c;
    --black: #000;
    --white: #fff;
    --text-color: #a7a7a7;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 63%;
}

body {
    font-family: 'Roboto', serif;
    font-size: 1.4rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1.2rem 1.6rem 1.2rem;
    color: var(--white);
    border-radius: 0.8rem;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}
