@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary: #00935c;
    --black: #000;
    --white: #fff;
    --gray: #464646;
    --text-color: #a7a7a7;
    --dark-btn-color: #28262d;
    --bg-color: #09090d;
    --form-bg-color: #0c0d0f;
    --button-padding: 1.2rem 1.6rem 1.2rem;
    --common-padding: 4rem;
    --border-radius: 1.2rem;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 63%;
}

body {
    font-family: 'Roboto', serif;
    font-size: 1.4rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--white);
    border-radius: 0.8rem;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}
