@use '../../GlobalStyles/functions' as fn;

@mixin button-position {
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
}

.container {
    position: relative;
    display: flex;
}

.movie-list {
    display: flex;
    overflow-x: auto;
    gap: 2.4rem;

    &::-webkit-scrollbar {
        display: none;
    }
}

.left-decoration {
    @include button-position;
    left: 0;
    background: fn.linear-background(right);
}

.right-decoration {
    @include button-position;
    right: 0;
    background: fn.linear-background(left);
}

.left-btn,
.right-btn {
    color: var(--dark-btn-color);

    &:active {
        color: var(--white);
    }
}
