@mixin button-position {
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
}

@function linear-background($direction) {
    @return linear-gradient(
        to #{$direction},
        black 0%,
        rgba(0, 0, 0, 0.8) 40%,
        rgba(0, 0, 0, 0.3) 80%,
        transparent 100%
    );
}

.container {
    position: relative;
    display: flex;
}

.movie-list {
    display: flex;
    overflow-x: auto;
    gap: 2.4rem;

    &::-webkit-scrollbar {
        display: none;
    }
}

.left-decoration {
    @include button-position;
    left: 0;
    background: linear-background(right);
}

.right-decoration {
    @include button-position;
    right: 0;
    background: linear-background(left);
}

.left-btn,
.right-btn {
    color: var(--text-color);

    &:active {
        color: var(--white);
    }
}
