$border-radius: 1.2rem;

.card-wrapper {
    display: flex;
    align-items: center;
    min-width: 24%;
    border-radius: $border-radius;
    padding-bottom: 0.8rem;
    margin-bottom: 0.8rem;

    &:hover {
        border: 1px solid var(--primary);
    }
}

.index {
    color: var(--white);
    font-size: 5rem;
}

.poster {
    border-radius: $border-radius;
    margin: 0 1.2rem;

    & img {
        border-radius: $border-radius;
        object-fit: cover;
        width: 100%;
    }
}

.age-tag {
    border: 0.5px solid var(--text-color);
    border-radius: 0.8rem;
    padding: 0.4rem;
    color: var(--text-color);
    font-size: 1.2rem;
}

.title {
    font-size: 1.4rem;
    font-weight: 700;
    margin: 0.8rem 0;
    color: var(--white);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
}

.info {
    padding-right: 1.6rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 58%;
}

.info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 42%;
    span {
        font-size: 1.2rem;
        color: var(--text-color);
    }

    .rating {
        color: var(--white);
        font-weight: 700;
    }
}

.genre {
    display: -webkit-box;
    -webkit-line-clamp: 2; // Limits text to 1 lines
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--text-color);
    font-size: 1.2rem;
}
